<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrinky</title>
</head>

<body style="background-color: #cea2fd;">
    <h1>Welcome to SHRINKY</h1>
    <form action='https://shrinkky.herokuapp.com/create/link' method="POST">
        <div>
            <label for="link">Link</label>
            <input type="text" id="link" name="link" required>
        </div>
        <br>
        <div>
            <button type="submit">Shrink It</button>
        </div>
    </form>
</body>

</html>